<nav class="navbar">
    <input class="form-control" type="text"  name="userFirstName" 
     [(ngModel)]="userFirstName" (ngModeLChange)="Search()"  placeholder="search your ticket by userFirstName">
</nav>

<table class="table table-bordered" style="background-color: chartreuse;">
    <thead>
        <tr>
        <th>userFirstName</th>
        <th>userLastName</th>
        <th>email</th>
        <th>gender</th>
        <th>Age</th>
        <th>seat</th>
        <th>meal</th>
        <th>address</th>
        <th>Pnr Number</th>
        <th>Ways</th>
        <th>airLine Name</th>
        <th>fromPlace</th>
        <th>toPlace</th>
        </tr>
    </thead>

    
<tbody>
    <tr *ngFor="let flight of users">
        <td>{{flight.userFirstName}}</td>
        <td>{{flight.userLastName}}</td>
        <td>{{flight.email}}</td>
        <td>{{flight.gender}}</td>
        <td>{{flight.age}}</td>
        <td>{{flight.seat}}</td>

        <td>{{flight.meal}}</td>
        <td>{{flight.address}}</td>
        <td>{{flight.pnrNumber}}</td>
        <td>{{flight.ways}}</td>
        <td>{{flight.airlineName}}</td>
        <td>{{flight.fromPlace}}</td>
        <td>{{flight.toPlace}}</td>
</table>
